In [ ]:
#!curl -O https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data preparation

* Check if the missing values are presented in the features.
* If there are missing values:
    * For caterogiral features, replace them with 'NA'
    * For numerical features, replace with with 0.0

In [2]:
df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [3]:
df.dtypes

lead_source                  object
industry                     object
number_of_courses_viewed      int64
annual_income               float64
employment_status            object
location                     object
interaction_count             int64
lead_score                  float64
converted                     int64
dtype: object

In [4]:
num_col = ['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score']

df[num_col].head()

   number_of_courses_viewed  annual_income  interaction_count  lead_score
0                         1        79450.0                  4        0.94
1                         1        46992.0                  1        0.80
2                         5        78796.0                  3        0.69
3                         2        83843.0                  1        0.87
4                         3        85012.0                  3        0.62

In [5]:
cat_col = list(df.dtypes[df.dtypes == 'object'].index)
df[cat_col].head()

    lead_source    industry employment_status       location
0      paid_ads         NaN        unemployed  south_america
1  social_media      retail          employed  south_america
2        events  healthcare        unemployed      australia
3      paid_ads      retail               NaN      australia
4      referral   education     self_employed         europe

In [6]:
df[num_col].isna().sum()

number_of_courses_viewed      0
annual_income               181
interaction_count             0
lead_score                    0
dtype: int64

In [7]:
df[cat_col].isna().sum()

lead_source          128
industry             134
employment_status    100
location              63
dtype: int64

In [8]:
df[num_col] = df[num_col].fillna(0.0)
df[num_col].isna().sum()

number_of_courses_viewed    0
annual_income               0
interaction_count           0
lead_score                  0
dtype: int64

In [9]:
df[cat_col] = df[cat_col].fillna('NA')
df[cat_col].isna().sum()

lead_source          0
industry             0
employment_status    0
location             0
dtype: int64

## Question 1

What is the most frequent observation (mode) for the column `industry`?

In [10]:
df.value_counts('industry')

industry
retail           203
finance          200
other            198
education        187
healthcare       187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

## Question 2

Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your dataset. 
In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

- `interaction_count` and `lead_score`
- `number_of_courses_viewed` and `lead_score`
- `number_of_courses_viewed` and `interaction_count`
- `annual_income` and `interaction_count`

Only consider the pairs above when answering this question.

In [11]:
corr_matrix = round(df[num_col].corr(), 2)
corr_matrix

,number_of_courses_viewed,annual_income,interaction_count,lead_score
number_of_courses_viewed,1.00,0.01,-0.02,-0.00
annual_income,0.01,1.00,0.03,0.02
interaction_count,-0.02,0.03,1.00,0.01
lead_score,-0.00,0.02,0.01,1.00

## Split data


* Split your data in train/val/test sets with 60%/20%/20% distribution.
* Use Scikit-Learn for that (the `train_test_split` function) and set the seed to `42`.
* Make sure that the target value `y` is not in your dataframe.

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = df.drop('converted', axis=1)
y = df['converted']

In [14]:
X[:5], y[:5]

(    lead_source    industry  number_of_courses_viewed  annual_income  \
 0      paid_ads          NA                         1        79450.0
 1  social_media      retail                         1        46992.0
 2        events  healthcare                         5        78796.0
 3      paid_ads      retail                         2        83843.0
 4      referral   education                         3        85012.0

   employment_status       location  interaction_count  lead_score
 0        unemployed  south_america                  4        0.94
 1          employed  south_america                  1        0.80
 2        unemployed      australia                  3        0.69
 3                NA      australia                  1        0.87
 4     self_employed         europe                  3        0.62  ,
 0    1
 1    0
 2    1
 3    0
 4    1
 Name: converted, dtype: int64)

In [15]:
df.shape

(1462, 9)

In [16]:
X.shape

(1462, 8)

In [17]:
X_full_train, X_test, y_full_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
X_full_train

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score
1066,social_media,manufacturing,2,44403.0,self_employed,australia,1,0.71
638,events,retail,3,38048.0,student,north_america,6,0.97
799,social_media,education,2,71399.0,NA,europe,1,0.51
380,referral,education,2,47912.0,employed,australia,1,0.04
303,paid_ads,healthcare,1,34806.0,employed,europe,4,0.32
...,...,...,...,...,...,...,...,...
1130,events,manufacturing,1,57039.0,employed,south_america,2,0.30
1294,events,healthcare,2,56185.0,student,south_america,2,0.44
860,paid_ads,manufacturing,1,56402.0,student,north_america,1,0.02
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02
1126,events,manufacturing,0,43862.0,self_employed,asia,4,0.21

In [19]:
y_full_train

1066    0
638     1
799     1
380     0
303     1
       ..
1130    0
1294    0
860     0
1459    1
1126    0
Name: converted, Length: 1169, dtype: int64

In [20]:
X_train, X_val, y_train, y_val = train_test_split(X_full_train, y_full_train, test_size=0.25, random_state=42)

In [21]:
assert len(X_train) + len(X_val) + len(X_test) == len(X)

## Question 3

* Calculate the mutual information score between `y` and other categorical variables in the dataset. Use the training set only.
* Round the scores to 2 decimals using `round(score, 2)`.

Which of these variables has the biggest mutual information score?

In [22]:
from sklearn.metrics import mutual_info_score

In [23]:
def mutual_info(col):
    return mutual_info_score(col, y_train)

In [24]:
mi = X_train[cat_col].apply(mutual_info)
mi = round(mi.sort_values(ascending=False), 2)
mi

lead_source          0.04
employment_status    0.01
industry             0.01
location             0.00
dtype: float64

In [25]:
global_converted = df.converted.mean()
global_converted

0.6190150478796169

In [26]:
from IPython.display import display

In [27]:
for c in cat_col:
    print(c)
    df_group = df.groupby(c).converted.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_converted
    df_group['risk'] = df_group['mean'] / global_converted
    display(df_group)
    print()
    print()

lead_source

                    mean  count      diff      risk
lead_source
NA              0.671875    128  0.052860  1.085394
events          0.596000    250 -0.023015  0.962820
organic_search  0.617021    282 -0.001994  0.996779
paid_ads        0.446970    264 -0.172045  0.722066
referral        0.807692    260  0.188677  1.304802
social_media    0.604317    278 -0.014699  0.976255

industry

                   mean  count      diff      risk
industry
NA             0.559701    134 -0.059314  0.904181
education      0.748663    187  0.129648  1.209442
finance        0.595000    200 -0.024015  0.961204
healthcare     0.604278    187 -0.014737  0.976193
manufacturing  0.666667    174  0.047652  1.076980
other          0.611111    198 -0.007904  0.987231
retail         0.586207    203 -0.032808  0.946999
technology     0.569832    179 -0.049183  0.920547

employment_status

                       mean  count      diff      risk
employment_status
NA                 0.560000    100 -0.059015  0.904663
employed           0.689024    328  0.070009  1.113098
self_employed      0.653409    352  0.034394  1.055563
student            0.652299    348  0.033284  1.053769
unemployed         0.497006    334 -0.122009  0.802898

location

                   mean  count      diff      risk
location
NA             0.698413     63  0.079398  1.128264
africa         0.601064    188 -0.017951  0.971000
asia           0.620513    195  0.001498  1.002420
australia      0.605405    185 -0.013610  0.978014
europe         0.652778    216  0.033763  1.054543
middle_east    0.631313    198  0.012298  1.019867
north_america  0.595556    225 -0.023459  0.962102
south_america  0.598958    192 -0.020057  0.967599

### Question 4

* Now let's train a logistic regression.
* Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - `model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)`
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [28]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

In [29]:
dv = DictVectorizer(sparse=False)

In [30]:
X_train

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score
1077,paid_ads,retail,0,58472.0,student,middle_east,5,0.03
463,organic_search,manufacturing,3,71738.0,student,middle_east,6,0.77
842,paid_ads,technology,3,81973.0,employed,north_america,2,0.59
835,NA,technology,1,74956.0,employed,europe,3,0.34
837,organic_search,retail,3,59335.0,student,australia,1,0.98
...,...,...,...,...,...,...,...,...
725,organic_search,other,1,43907.0,employed,australia,4,0.33
401,social_media,retail,3,64969.0,employed,north_america,1,0.18
957,NA,education,3,89042.0,employed,asia,4,0.75
992,social_media,manufacturing,1,0.0,self_employed,europe,1,0.65
1267,events,finance,4,50259.0,student,asia,3,0.54

In [31]:
train_dict = X_train[cat_col + num_col].to_dict(orient='records')
train_dict[0]

{'lead_source': 'paid_ads',
 'industry': 'retail',
 'employment_status': 'student',
 'location': 'middle_east',
 'number_of_courses_viewed': 0,
 'annual_income': 58472.0,
 'interaction_count': 5,
 'lead_score': 0.03}

In [32]:
X_train_base = dv.fit_transform(train_dict)

In [33]:
X_train_base[10]

array([4.2104e+04, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.0000e+00,
       9.7000e-01, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00])

In [34]:
val_dict = X_val[cat_col + num_col].to_dict(orient='records')
val_dict[0]

{'lead_source': 'paid_ads',
 'industry': 'healthcare',
 'employment_status': 'unemployed',
 'location': 'europe',
 'number_of_courses_viewed': 3,
 'annual_income': 52220.0,
 'interaction_count': 1,
 'lead_score': 0.07}

In [35]:
X_val_base = dv.transform(val_dict)
X_val_base[10]

array([5.0786e+04, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
       2.1000e-01, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
       0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
       2.0000e+00])

In [36]:
dv.get_feature_names_out()

array(['annual_income', 'employment_status=NA',
       'employment_status=employed', 'employment_status=self_employed',
       'employment_status=student', 'employment_status=unemployed',
       'industry=NA', 'industry=education', 'industry=finance',
       'industry=healthcare', 'industry=manufacturing', 'industry=other',
       'industry=retail', 'industry=technology', 'interaction_count',
       'lead_score', 'lead_source=NA', 'lead_source=events',
       'lead_source=organic_search', 'lead_source=paid_ads',
       'lead_source=referral', 'lead_source=social_media', 'location=NA',
       'location=africa', 'location=asia', 'location=australia',
       'location=europe', 'location=middle_east',
       'location=north_america', 'location=south_america',
       'number_of_courses_viewed'], dtype=object)

In [37]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)

In [38]:
model.fit(X_train_base, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [39]:
y_pred = model.predict_proba(X_train_base)[:, 1]
y_pred

array([0.57914343, 0.87283491, 0.58816106, 0.5123121 , 0.63666474,
       0.75521067, 0.67660732, 0.80463891, 0.31931235, 0.52336704,
       0.42762897, 0.75635961, 0.36365334, 0.47975899, 0.66891574,
       0.79118097, 0.84805492, 0.75295599, 0.74242974, 0.44250074,
       0.5929954 , 0.71532756, 0.89505925, 0.40505601, 0.41274905,
       0.49397088, 0.76167978, 0.54183227, 0.91299585, 0.84329958,
       0.43502338, 0.8413228 , 0.45134425, 0.7333119 , 0.69094238,
       0.63501138, 0.78633979, 0.70340975, 0.31374644, 0.66994888,
       0.81195513, 0.54070747, 0.52703677, 0.66105373, 0.89692378,
       0.93952744, 0.69103809, 0.57569837, 0.43601077, 0.58839131,
       0.40836197, 0.62054106, 0.59360952, 0.80782454, 0.55881103,
       0.89447256, 0.85676682, 0.32909909, 0.88454471, 0.61158866,
       0.55737895, 0.80158813, 0.2943396 , 0.76846367, 0.26685381,
       0.61036623, 0.70840796, 0.76184472, 0.88772861, 0.60724473,
       0.74046876, 0.39672339, 0.94279447, 0.89334272, 0.77167755,
       0.46010977, 0.67939686, 0.78038501, 0.88118541, 0.3279005 ,
       0.69468482, 0.86234033, 0.50374312, 0.39103762, 0.32306119,
       0.85545275, 0.48720893, 0.67632878, 0.78732671, 0.3807965 ,
       0.59358565, 0.67544781, 0.30673757, 0.70499096, 0.44562591,
       0.50095965, 0.39025671, 0.57979673, 0.79141298, 0.4086045 ,
       0.45643829, 0.71245068, 0.79430415, 0.90384023, 0.93723435,
       0.4562272 , 0.83198963, 0.62957342, 0.82184016, 0.64446096,
       0.70354494, 0.78823594, 0.53732668, 0.97246708, 0.76882315,
       0.83923905, 0.92056542, 0.90991367, 0.56660819, 0.79495618,
       0.71424506, 0.72871387, 0.88202923, 0.3164753 , 0.62310117,
       0.53315737, 0.48339273, 0.5333133 , 0.67283569, 0.22210658,
       0.78780997, 0.88225509, 0.37540641, 0.83354946, 0.79658947,
       0.87218311, 0.58986563, 0.7881445 , 0.54464144, 0.64943426,
       0.83673253, 0.70529276, 0.62778931, 0.91595373, 0.89533947,
       0.80703982, 0.69395842, 0.70051544, 0.65076993, 0.67503473,
       0.39746673, 0.80770481, 0.77188928, 0.50954359, 0.88730545,
       0.75819512, 0.50450809, 0.4920364 , 0.54599134, 0.91066188,
       0.42575013, 0.35795823, 0.55471793, 0.37110938, 0.95301   ,
       0.86933231, 0.82750613, 0.51482502, 0.76600278, 0.53686919,
       0.51515819, 0.70203436, 0.41173862, 0.64011069, 0.83671727,
       0.49741712, 0.73119402, 0.77493084, 0.60020821, 0.66534618,
       0.89169291, 0.92526953, 0.8227775 , 0.89264571, 0.41916769,
       0.55808163, 0.94868388, 0.98035455, 0.7335789 , 0.74092641,
       0.76248161, 0.78875552, 0.79195311, 0.6094224 , 0.46495893,
       0.45383058, 0.4610215 , 0.52497683, 0.7499167 , 0.71807419,
       0.59466458, 0.90337361, 0.81677555, 0.4137903 , 0.72137959,
       0.53200292, 0.47037053, 0.77446856, 0.65710219, 0.78996797,
       0.58929035, 0.62670528, 0.74674227, 0.57204984, 0.50772304,
       0.78434105, 0.4975378 , 0.92650858, 0.66717604, 0.82930971,
       0.27849025, 0.83838719, 0.70574663, 0.77943445, 0.44579211,
       0.58683386, 0.33665563, 0.48045672, 0.62588772, 0.57138676,
       0.70536593, 0.8609464 , 0.37186621, 0.9081487 , 0.46539389,
       0.82449196, 0.92638351, 0.74685956, 0.50045737, 0.7817302 ,
       0.7523593 , 0.89114426, 0.66531574, 0.97683895, 0.41377047,
       0.4344052 , 0.49716033, 0.68331973, 0.45601092, 0.58124265,
       0.75113466, 0.92727832, 0.5379785 , 0.76054981, 0.67984844,
       0.7614323 , 0.48815563, 0.63747478, 0.91501538, 0.71484465,
       0.52101876, 0.34543988, 0.68778279, 0.66327527, 0.34924099,
       0.80344067, 0.58915918, 0.78552125, 0.79199373, 0.61974343,
       0.76631052, 0.87836655, 0.7972464 , 0.92402755, 0.55020891,
       0.45092437, 0.62583803, 0.65531824, 0.80936714, 0.65636774,
       0.65111803, 0.4830559 , 0.94750954, 0.45349969, 0.48203421,
       0.7311451 , 0.68613581, 0.81603779, 0.62506658, 0.66580813,
       0.93700205, 0.59124434, 0.82114801, 0.72516089, 0.87616175,
       0.80548096, 0.30914095, 0.66246296, 0.81261051, 0.5457268 ,
       0.72119564, 0.78389439, 0.68510343, 0.74104858, 0.57631462,
       0.91129236, 0.42790666, 0.64297961, 0.72307818, 0.85809549,
       0.73817232, 0.82191488, 0.65803299, 0.55835422, 0.53880068,
       0.95375429, 0.6478169 , 0.6639064 , 0.40386163, 0.7710397 ,
       0.78974885, 0.59071674, 0.74052583, 0.54099115, 0.8354783 ,
       0.57326925, 0.70459304, 0.36615026, 0.61830653, 0.67792963,
       0.39475388, 0.95699683, 0.52354658, 0.64668951, 0.62993255,
       0.80416639, 0.89454919, 0.62889735, 0.65443997, 0.30619712,
       0.39763577, 0.36843544, 0.46423779, 0.8225309 , 0.4282264 ,
       0.49058572, 0.74297819, 0.91858505, 0.72376788, 0.63917958,
       0.84212729, 0.81909028, 0.85643588, 0.56207536, 0.48574396,
       0.47510293, 0.85309382, 0.81980682, 0.5356262 , 0.44865343,
       0.42131363, 0.81797536, 0.75352078, 0.96003318, 0.43600242,
       0.71495088, 0.41487134, 0.54398227, 0.91886855, 0.28870221,
       0.84307866, 0.21716797, 0.62359365, 0.60945981, 0.68991704,
       0.53599614, 0.66819846, 0.85731938, 0.82136733, 0.35048229,
       0.58863113, 0.68529519, 0.64803571, 0.63214059, 0.40015196,
       0.364085  , 0.65430441, 0.68343862, 0.61776602, 0.63568232,
       0.91830455, 0.96197366, 0.50700926, 0.78022599, 0.39381423,
       0.78334201, 0.87881419, 0.47988428, 0.41280844, 0.46033487,
       0.58517224, 0.34929026, 0.81300045, 0.56612631, 0.93963847,
       0.24311544, 0.83080697, 0.43752483, 0.91896708, 0.33422555,
       0.57160768, 0.54928738, 0.69920946, 0.57757557, 0.50426063,
       0.52719123, 0.53487681, 0.71499783, 0.54221556, 0.58558597,
       0.73076178, 0.69377329, 0.80025346, 0.93013528, 0.6601903 ,
       0.87733993, 0.89712749, 0.29889814, 0.59518629, 0.30609955,
       0.53441195, 0.59983592, 0.33374561, 0.84181414, 0.9043013 ,
       0.94730152, 0.91355978, 0.60528312, 0.84431286, 0.75198168,
       0.55342852, 0.64940286, 0.45640792, 0.77498112, 0.90072753,
       0.77691442, 0.88266312, 0.87003452, 0.68866987, 0.81435907,
       0.69873774, 0.61001962, 0.49767871, 0.92277532, 0.76217608,
       0.66918775, 0.51730067, 0.46608627, 0.8930667 , 0.47493426,
       0.83267767, 0.56224524, 0.56755893, 0.53977037, 0.72252343,
       0.39205924, 0.81652092, 0.80442353, 0.49910073, 0.80016077,
       0.78439911, 0.73632685, 0.71926999, 0.84753023, 0.571167  ,
       0.7290709 , 0.71554523, 0.51580154, 0.59607537, 0.37946474,
       0.63486894, 0.50375703, 0.70641626, 0.85380181, 0.59869948,
       0.63712887, 0.79418652, 0.85053249, 0.73834346, 0.51969838,
       0.52856543, 0.64534033, 0.86112424, 0.51325327, 0.64038856,
       0.86313187, 0.91663842, 0.31256942, 0.209259  , 0.81180575,
       0.6113733 , 0.62673458, 0.73978029, 0.78511355, 0.21618393,
       0.29947296, 0.82234973, 0.73627896, 0.86069741, 0.6617817 ,
       0.76011811, 0.71712397, 0.7467067 , 0.52351029, 0.47246918,
       0.61836601, 0.48914765, 0.69468675, 0.87455684, 0.65769561,
       0.47048039, 0.78004619, 0.96183146, 0.55626679, 0.59475823,
       0.37281828, 0.67709548, 0.55629036, 0.82040978, 0.53384936,
       0.69791536, 0.93183569, 0.83336024, 0.88642254, 0.78913665,
       0.73635737, 0.46980346, 0.93815114, 0.36327427, 0.63149816,
       0.75652008, 0.77991702, 0.49970747, 0.75069838, 0.5305142 ,
       0.79796183, 0.94073494, 0.53982853, 0.73574689, 0.56206828,
       0.83995793, 0.95147427, 0.84591216, 0.58994538, 0.54027017,
       0.59296994, 0.53566869, 0.57210611, 0.7792027 , 0.68529169,
       0.23917244, 0.72989191, 0.61264646, 0.61140811, 0.64892456,
       0.93699403, 0.38427221, 0.61381782, 0.71570296, 0.40391342,
       0.31337029, 0.46209084, 0.5653216 , 0.52704226, 0.63781035,
       0.85167958, 0.74640144, 0.85801536, 0.81968356, 0.59322141,
       0.60553183, 0.63046472, 0.51327381, 0.52482347, 0.57829724,
       0.93015675, 0.6767802 , 0.42957797, 0.56529009, 0.48031611,
       0.44902847, 0.74999388, 0.67906523, 0.56386699, 0.6407163 ,
       0.82359358, 0.29338061, 0.84071292, 0.85389237, 0.83918457,
       0.81901995, 0.85607126, 0.53849567, 0.6266007 , 0.7415833 ,
       0.72357442, 0.81808975, 0.69388867, 0.61187305, 0.40851179,
       0.62125052, 0.58757219, 0.65639841, 0.59524937, 0.63287243,
       0.8695439 , 0.55571857, 0.73581822, 0.89646548, 0.52545409,
       0.85268452, 0.34136611, 0.81798637, 0.71942835, 0.68927559,
       0.65549374, 0.53324754, 0.76521976, 0.60630018, 0.81496615,
       0.86656722, 0.73305777, 0.51964533, 0.39425094, 0.93580529,
       0.71944406, 0.38491695, 0.77000745, 0.66656801, 0.89592947,
       0.6218782 , 0.798916  , 0.69360446, 0.6211909 , 0.62938046,
       0.47609767, 0.93405559, 0.82287455, 0.63728095, 0.57209004,
       0.60259797, 0.53499231, 0.84311901, 0.90864528, 0.46398708,
       0.82670174, 0.69728571, 0.86239721, 0.33713944, 0.33668679,
       0.90825997, 0.75047404, 0.71993637, 0.886028  , 0.90904939,
       0.75809095, 0.27978559, 0.7624023 , 0.76269957, 0.79286228,
       0.59628069, 0.42220179, 0.85122604, 0.5778091 , 0.41599901,
       0.81230406, 0.43181155, 0.9467138 , 0.80657182, 0.65064843,
       0.4896838 , 0.60948158, 0.3192332 , 0.92036303, 0.73032435,
       0.78459155, 0.85867966, 0.74569855, 0.41867509, 0.48620638,
       0.69958528, 0.53907431, 0.79856199, 0.33777945, 0.27703712,
       0.6109114 , 0.63786698, 0.6022917 , 0.53355199, 0.77872416,
       0.4274077 , 0.68791861, 0.45359488, 0.29877444, 0.5439793 ,
       0.81861143, 0.94399673, 0.74093517, 0.63897906, 0.83053446,
       0.37322794, 0.56301792, 0.65172191, 0.3405554 , 0.94771526,
       0.7570422 , 0.47299189, 0.68926993, 0.863737  , 0.52831498,
       0.77071391, 0.7818163 , 0.56167827, 0.89081329, 0.37182474,
       0.76171925, 0.65557156, 0.92182806, 0.56963736, 0.68552309,
       0.57922639, 0.81654312, 0.96688088, 0.78569168, 0.92254438,
       0.58539144, 0.72158788, 0.83999317, 0.51730121, 0.68316129,
       0.2747763 , 0.80838818, 0.52784623, 0.38477025, 0.72655517,
       0.61564184, 0.57634271, 0.68017754, 0.92476626, 0.89515763,
       0.34274543, 0.60550793, 0.34339835, 0.53670563, 0.50595471,
       0.453264  , 0.90962146, 0.64984937, 0.79907329, 0.58325115,
       0.84669896, 0.4099823 , 0.50259333, 0.9015522 , 0.6200365 ,
       0.9120442 , 0.90168663, 0.82294217, 0.69985527, 0.94489619,
       0.5348558 , 0.62416051, 0.69499152, 0.94438162, 0.78085733,
       0.70802362, 0.57043828, 0.82406726, 0.9129544 , 0.67823741,
       0.73488031, 0.97543   , 0.74941299, 0.60134712, 0.66735426,
       0.78201043, 0.39709899, 0.49210577, 0.83888858, 0.65167932,
       0.21521779, 0.43871432, 0.63902222, 0.59421479, 0.32242911,
       0.63624921, 0.96456346, 0.75733704, 0.94475116, 0.60546968,
       0.56312156, 0.7067523 , 0.7834282 , 0.86244886, 0.80516175,
       0.95246521, 0.61011383, 0.68848943, 0.61107722, 0.72494633,
       0.81512194, 0.64461513, 0.82194546, 0.71571539, 0.7689893 ,
       0.78160783, 0.77753711, 0.80760178, 0.74222043, 0.79603167,
       0.49930186, 0.40205724, 0.55735693, 0.65566548, 0.90049983,
       0.77277604, 0.66528662, 0.73678841, 0.25978212, 0.48179174,
       0.60803975, 0.46635054, 0.69965837, 0.63321173, 0.48333631,
       0.87206338, 0.76558897, 0.82828424, 0.79686849, 0.68798139,
       0.64792368, 0.89894872, 0.76237679, 0.90030806, 0.66719481,
       0.60871889, 0.54503626, 0.64771317, 0.63397904, 0.63981426,
       0.56994715, 0.51088529, 0.92605035, 0.7722184 , 0.5075257 ,
       0.85939868, 0.65706157, 0.42255266, 0.97034999, 0.88692432,
       0.55109969, 0.80778297, 0.71530345, 0.66440284, 0.40095271,
       0.83145547, 0.81580802, 0.76535907, 0.83672249, 0.90890492,
       0.93286963, 0.70546247, 0.5977286 , 0.74734215, 0.6697843 ,
       0.85592177])

In [40]:
assert len(y_pred) == len(y_train)

In [41]:
conversion = (y_pred >= 0.5).astype(int)

In [42]:
conversion[:5]

array([1, 1, 1, 1, 1])

In [43]:
(conversion == y_train).mean().round(2)

0.74

## Question 5 

* Let's find the least useful feature using the *feature elimination* technique.
* Train a model using the same features and parameters as in Q4 (without rounding).
* Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
* For each feature, calculate the difference between the original accuracy and the accuracy without the feature. 

Which of following feature has the smallest difference?

- `'industry'`
- `'employment_status'`
- `'lead_score'`

In [44]:
dict(zip(model.coef_[0].round(2), dv.get_feature_names_out()))

{-0.0: 'location=NA',
 -0.01: 'location=australia',
 0.03: 'employment_status=employed',
 0.01: 'location=middle_east',
 -0.1: 'employment_status=unemployed',
 -0.02: 'industry=technology',
 0.05: 'lead_score',
 -0.03: 'location=south_america',
 0.31: 'interaction_count',
 0.02: 'lead_source=NA',
 -0.12: 'lead_source=paid_ads',
 0.08: 'lead_source=referral',
 0.45: 'number_of_courses_viewed'}

### Baseline

In [45]:
y_pred = model.predict_proba(X_train_base)[:, 1]
conversion = (y_pred >= 0.5).astype(int)
base_train_pred = (conversion == y_train).mean()
base_train_pred

0.7385844748858448

In [46]:
y_pred = model.predict_proba(X_val_base)[:, 1]
conversion = (y_pred >= 0.5).astype(int)
base_val_pred = (conversion == y_val).mean()
base_val_pred

0.6996587030716723

In [47]:
def remove_col_train(col_name, X_train=X_train, X_val=X_val, y_train=y_train, y_val=y_val):

    X_train = X_train.drop(col_name, axis=1)
    X_val = X_val.drop(col_name, axis=1)

    dv = DictVectorizer(sparse=False)
    
    train_dict = X_train.to_dict(orient='records')
    val_dict = X_val.to_dict(orient='records')
    dv.fit(train_dict)
    X_train = dv.fit_transform(train_dict)
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:, 1]
    conversion = (y_pred >= 0.5).astype(int)
    return (conversion == y_val).mean()

In [48]:
acc = remove_col_train('industry')
acc - base_val_pred

0.0

In [49]:
acc = remove_col_train('employment_status')
acc - base_val_pred

-0.0034129692832763903

In [50]:
acc = remove_col_train('lead_score')
acc - base_val_pred

0.0068259385665528916

## Question 6

* Now let's train a regularized logistic regression.
* Let's try the following values of the parameter `C`: `[0.01, 0.1, 1, 10, 100]`.
* Train models using all the features as in Q4.
* Calculate the accuracy on the validation dataset and round it to 3 decimal digits.

Which of these `C` leads to the best accuracy on the validation set?

In [53]:
def train(C, X_train=X_train, X_val=X_val, y_train=y_train, y_val=y_val):

    dv = DictVectorizer(sparse=False)
    
    train_dict = X_train.to_dict(orient='records')
    val_dict = X_val.to_dict(orient='records')
    dv.fit(train_dict)
    X_train = dv.fit_transform(train_dict)
    X_val = dv.transform(val_dict)
    model = LogisticRegression(solver='liblinear', C=C, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)
    y_pred = model.predict_proba(X_val)[:, 1]
    conversion = (y_pred >= 0.5).astype(int)
    return (conversion == y_val).mean()

In [56]:
C_list = [0.01, 0.1, 1, 10, 100]

for C in C_list:
    print(f"{C}: {train(C)}")

0.01: 0.6996587030716723
0.1: 0.6996587030716723
1: 0.6996587030716723
10: 0.6996587030716723
100: 0.6996587030716723